<% if (typeof username === "string") { %>
    <%- include("./partials/header.ejs", { username: username }); %> 
<% } else { %>
    <%- include("./partials/header.ejs", { username: null }); %> 
<% } %>

<div class="pageContent">
    <h2>Follows</h2>
    
    <%- include("./partials/messageGroup.ejs", { error: (!!error) ? error : null, warning: (!!warning) ? warning : null, info: (!!info) ? info : null }) %>

    <% list.forEach(chapter => { %>
        <div class="chapter">
            <span class="inlineTitle"><%- chapter.manga %></span>
            <span class="inlineChapter"><%- chapter.title || `Chapter ${chapter.chapter}` %></span>
        </div>
    <% }) %>
</div>