<% if (typeof username === "string") { %>
    <%- include("./partials/header.ejs", { username: username }); %> 
<% } else { %>
    <%- include("./partials/header.ejs", { username: null }); %> 
<% } %>

<div class="pageContent">
    <h2>Register</h2>
    
    <% if (typeof error === "string") { %>
        <%- include("./partials/error.ejs", { error: error }) %>
    <% } %>

    <% if (typeof warning === "string") { %>
        <%- include("./partials/warning.ejs", { warning: warning }) %>
    <% } %>

    <% if (typeof info === "string") { %>
        <%- include("./partials/info.ejs", { info: info }) %>
    <% } %>
</div>